#header-img {
    width: 100%;
}

#menu {
    background-color: rgb(2, 0, 47);
}

#menu #tombol {
    border: 0px;
}

/* #tombol {
    width: fit-content;
} */

#t-icon {
    color: white;
}

#icon {
    color: white;
    width: 32px;
    height: 32px;
}

#menu ul {
    width: 100%;
}

#menu ul li {
    width: auto;
    text-align: center;
}

#menu a {
    color: white;
}

#menu p {
    margin: 0px;
}

#tabel {
    width: fit-content;
    margin: auto;
}

#footer a {
    text-decoration: none;
}

@media only screen and (max-width: 575px) {
    /* CSS untuk layar berukuran kecil */
    #icon {
      display: none;
    }
  }

@media only screen and (max-width: 768px) {
    #content form {
        margin-right: 0px !important;
        float: left !important;
    }

    #content #tombol {
        margin-left: 0px !important;
    }
}
  
